{% load static %}

<section id="navbar" class="navbar">

    <div class="navbar-logo-container">
        <img src="{% static 'img/logo.png' %}">
    </div>

    <div class="navbar-items-container">
      <a href="#">Início</a>
      <a href="#">Mapa</a>
      <a href="#">Lista de orgânicos</a>
      <a href="#">Sobre nós</a>
    </div>

    <div class="filter-box">
      <input style="height: 3rem;" type="text" name="Buscar" class="filter-input-text" placeholder="Buscar">
    </div>

    <div class="navbar-user-icon">

        {% if user.is_autheticated %}

        <a class="user-icon" id="registerButton">
          <img height="50px" width="50px" src="{% static 'img/user.png'%}">
        </a>

        <div class="user-options" id="registerOptions">
          <a href="#perfil">
            <img height="30px" width="30px" src="{% static 'img/user.png'%}" style="padding-right: 0px;margin-right: 10px;">Perfil
          </a>
          <a href="#ListaProd">
            <img height="30px" width="30px" src="{% static 'img/list.png'%}" style="padding-right: 0px;margin-right: 10px;">Meus Produtos
          </a>
          <a href="#AdicionarProd">
            <img height="32px" width="32px" src="{% static 'img/plus.png'%}" style="padding-right: 0px;margin-right: 10px;">Adicionar Produto
          </a>
          <a href="#Sair">
            <img height="30px" width="30px" src="{% static 'img/sign-out.png'%}" style="padding-right: 0px;margin-right: 10px;">Sair
          </a>
        </div>
        
        {% else %}

        <a class="user-icon" id="registerButton">
          <img height="50px" width="50px" src="{% static 'img/user.png'%}">
        </a>

        <div class="user-options" id="registerOptions">
          <a href="#perfil">
            <img height="30px" width="30px" src="{% static 'img/user.png'%}" style="padding-right: 0px;margin-right: 10px;">Perfil
          </a>
          <a href="#ListaProd">
            <img height="30px" width="30px" src="{% static 'img/list.png'%}" style="padding-right: 0px;margin-right: 10px;">Meus Produtos
          </a>
          <a href="#AdicionarProd">
            <img height="32px" width="32px" src="{% static 'img/plus.png'%}" style="padding-right: 0px;margin-right: 10px;">Adicionar Produto
          </a>
          <a href="#Sair">
            <img height="30px" width="30px" src="{% static 'img/sign-out.png'%}" style="padding-right: 0px;margin-right: 10px;">Sair
          </a>
        </div>

        <!-- <a class="register-button" id="registerButton">
          Registre-se
        </a>

        <div class="register-options" id="registerOptions">
          <a href="/register?tipo=usuario">
            <img height="30px" width="30px" src="{% static 'img/user.png'%}" style="padding-right: 0px;margin-right: 10px;">Usuário
          </a>
          <a href="/register?tipo=produtor">
            <img height="30px" width="30px" src="{% static 'img/briefcase.png'%}" style="padding-right: 0px;margin-right: 10px;">Produtor
          </a>  
        </div> -->

        {% endif %}

    </div>

</section>